language: scala
before_script:
- sudo pip install sphinx
- sudo pip install sphinx_rtd_theme
script:
- sbt ++$TRAVIS_SCALA_VERSION package-site
after_success:
- brew install lftp
- ./upload.sh
scala:
- 2.11.4
jdk:
- oraclejdk7
env:
  global:
  - secure: N0ZRg3GI9ihNNh1hac/3RTKc9Ewmc5WeSLARndPtChuGfC2XeVhYQgqdv13pQswbrPMjeHCxtv0JdzNGCTsqY3Jp9M7ZvlnMlz4FjThNu2ngWHOiEc8rETr+deVAjKDK8K1oNYSkVqyoAQP52flw0irHSmHEHiIPKBOioVlReiY=
  - secure: fNjOmPpWfHvIPucyGUqkBHg/VyKvQC1XkT9XCLUcE9pwKSvYXxDDEZEE1hhEKnOD0ulOCAzCAcr9ailH3+ZLtS0PYUUAynPfaE41hRlmlxalo4QUy5epzTKKC/eaq8jcm1DTr2BeCWqAQ9OvD9cqWiJ2x/5LmlOPCIIQPXIv8aQ=
